body{
    color:white;
    background-color:#dd1548;
}

header {
    color:white
}

h2{
    color:white;;
}

section{
    color:#dd1548
    background: white
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;/* torna flxiel = põe um lado do outro*/
    justify-content: center; /* centralizar */
}

.chamada-texto{
    margin-right: 15%;
}

img{
    height: 200px
}

.categoria-video{
    display: flex;
    overflow-x: auto; /* permite rolagem horizontal automática quano o conteudo exceder a largura da tela
    gap: px; /* adiciona espaçamento entre os elementos*/

}